<h1><%= t('mailer.psw_reset') %></h1>
<p><%= t('mailer.psw_reset_direction') %></p>
<%= link_to t('mailer.reset_psw'), edit_password_reset_url(@user.reset_token,email: @user.email) %>
<p><%= t('mailer.psw_reset_expire') %></p>
<p><%= t('mailer.psw_reset_content') %></p>
